$box-shadow: 0 0 0 1px rgba(53, 72, 91, 0.07), 0 2px 2px rgba(0, 0, 0, 0.01),
  0 4px 4px rgba(0, 0, 0, 0.02), 0 10px 8px rgba(0, 0, 0, 0.03),
  0 15px 15px rgba(0, 0, 0, 0.03), 0 30px 30px rgba(0, 0, 0, 0.04),
  0 70px 65px rgba(0, 0, 0, 0.05);

.userInput {
  max-width: 80%;

  margin: auto;
}

.myForm {
  legend {
    font-weight: bold;
    color: #242424;
    margin-bottom: 5px;
  }
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: $box-shadow;
  input[type=text],input[type=email],input[type=number] {
    word-wrap: break-word;
    word-break: break-all;
    width: 70%;
    display: block;
    padding: 5px 20px;
    background-color: rgba(175, 175, 175, 0.411);
    border: none;
    outline: none;
    border-radius: 10px;
    margin-bottom: 5px;
  }
}

.card {
  max-width: 200px;
  box-shadow: $box-shadow;
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

input[type=submit]{
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: all 0.2s ease-out;
  margin: 10px;
}
input[type=submit]:hover {

  background-color: green;
  color: white;
}
